name: builds

on:
  push:
    paths-ignore:
      - "doc/**"
      - "etc/schema.json"
  pull_request:
    paths-ignore:
      - "doc/**"
      - "etc/schema.json"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  fedora-43-sv-codecov:
    name: Fedora 43 (Suricata Verify codecov)
    runs-on: ubuntu-latest
    container: fedora:43
    steps:
      - name: Cache cargo registry
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: ~/.cargo/registry
          key: cargo-registry

      - name: Determine number of CPUs
        run: echo CPUS=$(nproc --all) >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          dnf -y install \
                autoconf \
                automake \
                awk \
                cbindgen \
                ccache \
                clang \
                curl \
                diffutils \
                file-devel \
                gcc \
                gcc-c++ \
                git \
                gpg \
                hwloc \
                hwloc-devel \
                hiredis-devel \
                jansson-devel \
                jq \
                libasan \
                libtool \
                libyaml-devel \
                libnfnetlink-devel \
                libnetfilter_queue-devel \
                libnet-devel \
                libcap-ng-devel \
                libevent-devel \
                libmaxminddb-devel \
                libpcap-devel \
                llvm-devel \
                lz4-devel \
                make \
                pcre2-devel \
                pkgconfig \
                python3 \
                python3-yaml \
                sudo \
                which \
                zlib-devel

      - run: dnf clean all

      # Packaged Rust has no profiler support built in, so get it from rustup.
      - name: Install Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain 1.86.0 -y

      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - run: git config --global --add safe.directory /__w/suricata/suricata

      - name: Fetch suricata-verify
        run: git clone --depth 1 https://github.com/OISF/suricata-verify

      - run: ./autogen.sh

      - run: RUSTC_WRAPPER="$(pwd)/scripts/rustc.py" ./configure --enable-warnings --disable-shared
        env:
          CC: "clang"
          RUSTFLAGS: "-Cinstrument-coverage"
          CFLAGS: "-fprofile-instr-generate -fcoverage-mapping -O0"

      - run: RUSTC_WRAPPER="$(pwd)/scripts/rustc.py" make -j ${{ env.CPUS }}
        env:
          CC: "clang"
          RUSTFLAGS: "-Cinstrument-coverage"
          CFLAGS: "-fprofile-instr-generate -fcoverage-mapping -O0"

      - name: Running suricata-verify
        run: python3 ./suricata-verify/run.py -q --debug-failed --aggressive-cleanup

      - run: llvm-profdata merge -o default.profdata $(find suricata-verify/tests/ -name '*.profraw')

      - run: llvm-cov show ./src/suricata -instr-profile=default.profdata --show-instantiations --ignore-filename-regex="^/root/.*" > coverage.txt

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          fail_ci_if_error: false
          flags: suricata-verify
